@model Ellie.Models.Product.ProductsModel




@{

    if(Model.Products?.Any() == true)
    {
    <ul>


        @foreach (var i in Model.Products)
        {
           
            <li>
                <a asp-controller="Products" asp-action="Product" asp-route-id=@i.Id>@i.ProductName</a>
            </li>
        }
    </ul>
    }
}


